
@use 'variables' as *;

.header {
  background-color: $green-950;
  color: $header-text;         

  &__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  .nav-link {
    color: $header-text;
    text-decoration: none;

    &:hover {
      color: $header-hover;
    }
  }
}
