@use 'variables' as *;


.hero {
  position: relative;
  min-height: 80vh;
  background: url(#{$hero-bg}) center/cover no-repeat;
  color: $white;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    background: $overlay;
    z-index: 1;
  }

  &__content {
    position: relative;
    z-index: 2;
 
  }
}
