
$font-monospace: 'Courier New', monospace;
$green-950: #052e16;
$text-accent: #F97316;     
$cyan-950: #083344;     // fond sombre possible
$orange-500: #fd6c04;
$orange-600: #ea580c;
$white: #ffffff;
$gray :#6d6a6a;
$gray-100: #f8f9fa;
$gray-400: #ced4da;
$gray-300 : #D1D5DB;

$gray-700 : #374151;
$orange-700 : #C2410C ;
$orange-800 : #9A3412 ;


// Couleurs boutons
// ---------------------------
$btn-orange: #c2410c; // Correspond à Tailwind orange-800
$btn-orange-hover: #9a3412; 
$btn-text-light: #ffffff; 
$bg-cyan-dark: #062f36;
$bg-cyan: #0e7490;
$bg-cyan-light: #155e75;
$bg-cyan-lighter: #164e63;


$color-facebook: #3b82f6;       // Couleur normale
$color-facebook-hover: #2563eb;
$color-twitter: #1da1f2;
$color-instagram: #e1306c;
$color-twitter-hover: #0d8ecf;
$color-instagram-hover: #b22a5b;

$linkedin-color: #1D4ED8;
$linkedin-hover: #1E40AF;
$color-border: #6b7280;           // border-gray-500

$color-youtube:#FF0000;
$color-youtube-hover:#CC0000;



$hero-bg: '../../img/camping.jpg'; 
$overlay: rgba(0, 0, 0, 0.5);


$header-bg: $cyan-950;       
$header-text: #ffffff;     // texte (blanc)
$header-hover: #f97316;


$transition-duration: 2s;
$transition-ease: ease-in-out;
