
$font-monospace: 'Courier New', monospace;
$text-accent: #F97316;        // Orange vif (text-orange-400)
// Couleurs boutons
// ---------------------------
$btn-orange: #c2410c; // Correspond à Tailwind orange-800
$btn-orange-hover: #9a3412; 
$btn-text-light: #ffffff; 
$bg-cyan-dark: #062f36;
$bg-cyan: #0e7490;
$bg-cyan-light: #155e75;
$bg-cyan-lighter: #164e63;

